<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="./styles.css">
    <title>Movie Collection Viewer</title>
  </head>
  <body>
    <nav id="nav-bar">
      <ul id="nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="/top_rated">Top Rated Movies</a></li>
        <li><a href="/random">Random Movie</a></li>
        <li><a href="/upcoming">Upcoming Movies</a></li>
      </ul>
    </nav>
