/* Base styling, feel free to remove or alter */

body {
  background: linear-gradient(
    90deg,
    rgba(93, 142, 251, 1) 0%,
    rgba(93, 142, 251, 1) 50%,
    rgba(0, 212, 255, 1) 100%
  );
  /* Alternate background colour suggestion */
  background: linear-gradient(
    90deg,
    rgba(46, 53, 50, 1) 0%,
    rgba(46, 53, 50, 1) 50%,
    rgba(46, 53, 50, 0.9) 100%
  );
  /* Alternate background colour suggestion */
  background: #333;
  height: 100%;
  padding: 0px;
  margin: 0px;
  font-family: "Lato", sans-serif;
  display: flex;
  color: #f6f6f6;
  color: #f2f4f3;
}

.main-content {
  display: flex;
  justify-content: center;
  flex: 1;
  align-items: center;
  flex-direction: column;
  margin-top: 60px;
}

.main-content h1 {
  font-size: 50px;
}

/* Nav Bar Styles */
#nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 8px 20px;
  background: #292929;
  background: #fd504a;
  /* border: 1px solid #a39300; */
  /* border: 1px solid #f6f6f6; */
  /* border-bottom: 1px solid #f6f6f6; */
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  box-sizing: border-box;
}

#nav-bar ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: space-between;
  width: 100%;
}

#nav-bar ul li {
  flex-grow: 1;
  text-align: center;
}

#nav-bar ul li a {
  color: #f6f6f6;
  /* color: #fd504a; */
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: 600;
  padding: 8px 0;
  display: block;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid #ffffff00;
}

#nav-bar ul li a:hover {
  background-color: #555;
  /* background-color: #fd504a; */
  color: #f6f6f6;
  /* color: #fd504a; */
  border: 1px solid #c8b400;
  /* border: 1px solid #f6f6f6; */
}

/* Heading Styles */
.heading-description {
  text-align: center;
  font-size: 24px;
  margin: 0px 0px 60px 0px;
}

/* Movie Card Styles */
.movie-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  padding: 0px 50px;
}

.movie-card {
  display: flex;
  padding: 20px;
  height: 400px;
  width: 250px;
  flex-direction: column;
  background: #fd504a;
  border: 1px solid #a39300;
  border: 1px solid #f6f6f6;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 18px;
  position: relative;
}

.movie-card:hover {
  transform: scale(1.05);
  transition: transform 0.3s;
  border: 1px solid #f6f6f6;
}

.movie-container a {
  color: #f6f6f6;
  text-decoration: none;
}

.movie-card-description {
  text-align: justify;
}

.movie-card-title {
  margin: 10px;
  text-align: center;
}
.movie-card-rating {
  padding: 10px;
  margin-top: auto;
  text-align: center;
  background: #ff746f;
  border: 1px solid #d28c00;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 18px;
  color: white;
}

.movie-card-release-date {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  padding: 0;
  margin: 0;
}

.white-horizontal-rule {
  border-top: 1px solid #f6f6f6;
  margin: 20px 0;
}

/* Movie page styles */
.movie-details {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background: #fd504a;
  border: 1px solid #a39300;
  border: 1px solid #f6f6f6;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 18px;
}

/* .movie-info */

/* User rating style */
.userRating {
  display: flex;
  direction: rtl;
  gap: 4px;
  padding: 20px;
  position: center;
  background-color: #333;
  border: 1px solid #a39300;
  border: 1px solid #f6f6f6;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  justify-content: center;
  text-align: center;
}

.userRating input[type="radio"] {
  display: none;
}

.userRating label {
  cursor: pointer;
  position: relative;
}

.userRating label svg {
  fill: #ddd;
  transition: fill 0.3s;
}

.userRating label:hover ~ label svg,
.userRating input:checked ~ label svg {
  fill: #fd504a;
}

.userRating[data-userRating]:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: calc(var(--userRating) / 10 * 100%);
  height: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  pointer-events: none;
}

/* top rated movies */

.top-rated-movie:nth-child(odd){
  background-color: #fd504a;
  padding: 10px;
  border: 1px solid #a39300;
  border: 1px solid #f6f6f6;
  border-radius: 5px;
}

.top-rated-movie:nth-child(even){
  background-color: transparent;
  padding: 10px;
  border-radius: 5px;
}

.top-rated-movie{
  list-style: none;
  margin: 10px;
}

.top-rated-movie:hover {
  transform: scale(1.05);
  transition: transform 0.3s;
  border: 1px solid #f6f6f6;
}

.top-rated-movie h2{
  text-decoration: underline;
}

.top-rated-movie p{
  font-size: 16pt;
}
